@import url('https://fonts.google.com/specimen/Hanken+Grotesk');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hanken Grotest', sans-serif;
}

main {
  display: inherit;
  width: 740px;
  height: 510px;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}

footer {
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 0;
}
footer a {
  color: hsl(228, 45%, 44%);
}

.result-container,
.summary-container {
  width: 50%;
  height: 100%;
}

.result-container {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 30px;
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.circle h1 {
  font-size: 40px;
  font-weight: 800;
}

.circle h1,
.result-container-bottom h2 {
  color: #ffffff;
}

.result-container-bottom h2 {
  margin: 25px;
  font-size: 25px;
}

.result-container-bottom {
  margin-bottom: 45px;
  margin-left: 65px;
  margin-right: 65px;
}

.result-container h3,
.circle p,
.result-container-bottom p {
  color: #c8beff;
}

.result-container h3,
.summary-container h3 {
  font-size: 20px;
  margin: 40px;
}

.result-container h3 {
  margin: 40px;
}

.summary-container h3 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.summary-container h3 {
  text-align: left;
  color: #404154;
}

.summary-container {
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
}

.summary-container ul {
  list-style: none;
}

.summary-container ul li {
  margin-left: 40px;
  margin-right: 25px;
  margin-bottom: 15px;
  height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.summary-container ul li div {
  display: flex;
  align-items: center;
}

.summary-container ul li div img {
  margin-right: 20px;
}

.summary-container ul > li:nth-child(1) > div > p {
  color: #cb6d6e;
}

.summary-container ul > li:nth-child(2) > div > p {
  color: #e2bb67;
}

.summary-container ul > li:nth-child(3) > div > p {
  color: #2eaa8e;
}

.summary-container ul > li:nth-child(4) > div > p {
  color: #303992;
}

.summary-container ul li:nth-child(1) {
  background-color: #fff6f5;
}

.summary-container ul li:nth-child(2) {
  background-color: #fffbf2;
}

.summary-container ul li:nth-child(3) {
  background-color: #f2fafa;
}
.summary-container ul li:nth-child(4) {
  background-color: #f3f3fd;
}

.summary-container p {
  display: inline-block;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 18px;
}

.button {
  background-color: #303b59;
  color: #ffffff;
  border-radius: 45px;
  margin: 45px 40px;
  padding: 20px;
}

.button:hover {
  background-color: #4c37f4;
  cursor: pointer;
}

@media screen and (max-width: 376px) {
  main {
    min-height: 100vh;
    min-width: 100vw;
    /* display: block; */
    display: flex;
    flex-direction: column;
  }

  .result-container h3,
  .summary-container h3 {
    font-size: 15px;
    margin: 30px;
  }

  .result-container .circle {
    height: 140px;
    width: 140px;
    margin-bottom: 30px;
  }

  .result-container-bottom h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .result-container {
    border-radius: 0 0 20px 20px;
    max-height: 355px;
  }

  .result-container,
  .summary-container {
    width: 100%;
  }

  .summary-container ul li {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    height: 55px;
    border-radius: 5px;
  }

  .button {
    margin: 20px;
  }

  p {
    font-size: 15px;
  }
}
